 :root {
     --main-color: #3A0CA3;
     --main-hover: #4361EE4D;
     --title-text: #4361EE;
 }

 .bg-main {
     background-color: var(--main-color);
 }

 .hover-main {
     background-color: var(--main-hover);
 }

 .title-text {
     color: var(--title-text);
 }